body {
    font-family: "Cabin", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 16px !important; /* Tamaño de fuente predeterminado */
} 

/*Nav*/
nav {
    background-image: url('../img/carousel1.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el área */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

nav div a img{
    width: 2em;
}

nav .navbar-nav .nav-link.textoNav {
    color: #ffffff !important;
}
/*footer*/

.footer {
    padding-left: 5em;git
    padding-right: 5em;
    background-color: #08ccde;
    margin-top: 2em;
  }

  .footer .fab {
    color: white;
  }
  
  .footer h3 {
    margin-bottom: 0;
  }