body {
    font-family: "Cabin", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 16px !important; /* Tamaño de fuente predeterminado */
} 

.carousel-item img {
    margin: 0;
    padding: 0;
    
}



/*Nav*/
nav {
 background-color: transparent;
}

nav div a img{
    width: 2em;
}

nav .navbar-nav .nav-link.textoNav {
    color: #ffffff !important;
}
/*footer*/

.footer {
    /* padding-left: 5em;
    padding-right: 5em; */
    background-color: #0dcad0;
  }
  
  .footer h3 {
    margin-bottom: 0;
  }
.footer .fab {
    color: white;
}